name: Test
on:
  workflow_dispatch:
  pull_request:
    branches: [ main, production-v1 ]

jobs:
  test:
    runs-on: buildjet-8vcpu-ubuntu-2204

    steps:
      - uses: actions/checkout@v3

      - name: Build docker image
        run: |
          docker build \
            -t ingress-test \
            -f ./build/test/Dockerfile .

      - name: Run tests
        run: |
          docker run --rm \
            -e GITHUB_WORKFLOW=1 \
            ingress-test
